In [1]:
import numpy as np 
import pandas as pd 

import json
import time
from pandas.io.json import json_normalize
import seaborn as sns
import matplotlib.pyplot as plt
import lightgbm as lgb
from sklearn.metrics import explained_variance_score, roc_auc_score, precision_recall_curve, roc_curve, average_precision_score,accuracy_score
from sklearn import model_selection, preprocessing, metrics
from sklearn.model_selection import TimeSeriesSplit, GridSearchCV, cross_val_score, cross_validate
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

from mpl_toolkits.basemap import Basemap

import gc
import os
print(os.listdir("."))

['.DS_Store', 'input', 'Assignment-1.pdf', '.ipynb_checkpoints', 'electricity-demand-prediction.ipynb']

In [2]:
in_file_name = "Home1_yr1.csv"
out_file_name = "home1_out.csv"

In [3]:
house_data = pd.read_csv("./input/" + in_file_name, low_memory=False, nrows=None)
house_data.shape

(35039, 1)

In [4]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35039 entries, 0 to 35038
Data columns (total 1 columns):
0.65018    35039 non-null float64
dtypes: float64(1)
memory usage: 273.8 KB

In [5]:
house_data.describe()

            0.65018
count  35039.000000
mean       1.327227
std        1.399034
min        0.015124
25%        0.315675
50%        0.722890
75%        1.988550
max       15.500000

In [8]:

epochTime = 1417392000

def get_time_stamp(row):
    global epochTime
    epochTime+=900
    return pd.to_datetime(epochTime,unit='s')

house_data['time_stamp'] = house_data.apply (lambda row: get_time_stamp(row),axis=1)

In [10]:
house_data.head(100)

    0.65018          time_stamp
0   1.45400 2014-12-01 00:15:00
1   0.72971 2014-12-01 00:30:00
2   3.10750 2014-12-01 00:45:00
3   0.63572 2014-12-01 01:00:00
4   0.69720 2014-12-01 01:15:00
5   1.50610 2014-12-01 01:30:00
6   0.85858 2014-12-01 01:45:00
7   1.61320 2014-12-01 02:00:00
8   0.66075 2014-12-01 02:15:00
9   0.50952 2014-12-01 02:30:00
10  1.53310 2014-12-01 02:45:00
11  0.64315 2014-12-01 03:00:00
12  1.55420 2014-12-01 03:15:00
13  0.63596 2014-12-01 03:30:00
14  1.12640 2014-12-01 03:45:00
15  0.94811 2014-12-01 04:00:00
16  0.94247 2014-12-01 04:15:00
17  1.03720 2014-12-01 04:30:00
18  1.17440 2014-12-01 04:45:00
19  0.87564 2014-12-01 05:00:00
20  2.68930 2014-12-01 05:15:00
21  0.82416 2014-12-01 05:30:00
22  1.33590 2014-12-01 05:45:00
23  0.59462 2014-12-01 06:00:00
24  1.31450 2014-12-01 06:15:00
25  0.62424 2014-12-01 06:30:00
26  1.88760 2014-12-01 06:45:00
27  1.35300 2014-12-01 07:00:00
28  1.97930 2014-12-01 07:15:00
29  1.17550 2014-12-01 07:30:00
..      ...                 ...
70  0.91677 2014-12-01 17:45:00
71  2.55180 2014-12-01 18:00:00
72  7.53420 2014-12-01 18:15:00
73  3.94950 2014-12-01 18:30:00
74  1.61140 2014-12-01 18:45:00
75  4.23230 2014-12-01 19:00:00
76  2.91880 2014-12-01 19:15:00
77  1.69880 2014-12-01 19:30:00
78  1.23670 2014-12-01 19:45:00
79  4.48690 2014-12-01 20:00:00
80  5.22820 2014-12-01 20:15:00
81  7.61010 2014-12-01 20:30:00
82  1.71790 2014-12-01 20:45:00
83  0.76060 2014-12-01 21:00:00
84  1.62460 2014-12-01 21:15:00
85  1.95680 2014-12-01 21:30:00
86  5.12250 2014-12-01 21:45:00
87  1.83490 2014-12-01 22:00:00
88  0.97481 2014-12-01 22:15:00
89  0.90483 2014-12-01 22:30:00
90  1.54210 2014-12-01 22:45:00
91  2.14520 2014-12-01 23:00:00
92  2.93680 2014-12-01 23:15:00
93  1.00330 2014-12-01 23:30:00
94  1.58840 2014-12-01 23:45:00
95  2.16310 2014-12-02 00:00:00
96  2.33680 2014-12-02 00:15:00
97  0.66230 2014-12-02 00:30:00
98  0.58210 2014-12-02 00:45:00
99  0.58333 2014-12-02 01:00:00

[100 rows x 2 columns]